@tailwind base;
@tailwind components;
@tailwind utilities;


.split {
    display: flex;
    flex-direction: row;
}
.modal-content{
  z-index: 100000;
}
.gutter {
    background-color:transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: all .2s ease-in-out;
}
.gutter:hover {
    background-color:#0A84FF;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .5rem;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
code {
    padding: 4px;
    border-radius: .3rem;
    background: rgb(42, 42, 42);
    border: 1px solid gray;
    color: gray;
    letter-spacing: 1px;
    white-space: break-spaces;
    font-size: .75rem;

}
.cm-scroller,
.cm-gutters {
	background-color: #27272A !important;
}
.cm-focused {
	outline: none !important;
}

.split {
	display: flex;
	flex-direction: row;
}

.gutter {
	background-color: rgb(26, 26, 26);
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: #0a84ff;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}

.gutter.gutter-vertical {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
	cursor: row-resize;
}
